header {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  width: 100vw;
  height: 70px;
  background-color: #ebebeb;
}

header .brand a {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: #ff4655;
}

header .brand img {
  height: 50px;
  margin-right: 20px;
}

header nav .navList {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ff4655;
}

header nav .navList .navItem {
  color: #ff4655;
}

header nav .navList .navItem .navLink {
  color: #ff4655;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 2rem;
  border-radius: 10px;
}

header nav .navList .navItem .activeNav {
  background-color: #ff4655;
  color: #fff;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 2rem;
  border-radius: 10px;
}

header nav .navList .navItem .navLink:hover {
  background-color: #ff4655;
  color: #fff;
}
