.homepage {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
